
.navbar {
	background-color: #337AB7;
	border-bottom: 0;
	border-radius: 0;
	background-image: none;
	border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:visited {
	background-color: #5BC0DE;
	background-image: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited {
	color: #FFF;
}

.navbar-default .navbar-brand:active,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
	color: #5BC0DE;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

#header {
	background-color: transparent;
	background-image: url("../img/default_logo.png");
	background-repeat: no-repeat;
	background-position: left;
	height: 100px;
}

#list .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.file .info {
	overflow: hidden;
}

.info > p {
	margin: 0px;
	font-size: x-small;
}

.info > a > span {
	padding: 3px 3px;
}

#noContent {
	margin: 10px;
}

.icon {
	font-size: 1.5em;
}

.file .label {
	display: inline-block;
	padding: .2em .2em .2em;
	margin-top: 10px;
	overflow: visible;
}

.row .file .label {
	max-width: 30px;
	overflow: hidden;
}

.noext {
	background-color: transparent;
}

.pdf {
	background-color: #C9302C;
}
.xls, .xlsx {
	background-color: #5CB85C;
}
.doc, .docx {
	background-color: #31B0D5;
}
.jpg, .jpeg, .png, .bmp, .gif {
	background-color: #286090;
}
.ppt, .pptx {
	background-color: #EC971F;
}
.html, .php, .java, .css, .js, .c, .xml, .properties {
	background-color: #A8A8A1;
}
